<!-- this template is helping in defining our html code so that we can use it anyhere without repeating code -->
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}" >
      <!-- <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title> -->
  
  </head> 
  <body>


    <nav class="big-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
          <div class="flex justify-between">
            <div class="flex space-x-7">
              <div> 
                <a href="#" class="flex items-center px-2 py-4">
                  <img class="h-8 w-8" src="{% static 'myapp/images/shopping.png' %}" alt="">
                  <span class="text-gray-500 font-semibold text-lg"> Buy&Sell</span>
    
                </a>
              </div>
    
             <div class="items-center flex space-x-1">
              <a href="#" class="py-4 px-2 text-gray-500 font-semibold border-b-4 border-green-500">Home</a>
              <a href="#" class="py-4 px-2 text-gray-500 font-semibold">About</a>
              <a href="#" class="py-4 px-2 text-gray-500 font-semibold">Contact</a>
             </div>
      
            </div> 
          </div>
        </div>
       </nav>

    <!-- block of code starts here  -->
    {% block content %} 

    <!-- block of code ends here -->
    {% endblock %}
  </body>
</html> 
